.movieDis {
  display: flex;
  width: 56rem;
  margin-top: 1rem;
}

.movPoster {
  height: 45rem;
  padding-right: 1rem;
}
.movTitle {
  font-size: 1.6rem;
  font-weight: 700;
}

.movGenre {
  font-size: 1.4rem;
}

.movPlot {
  font-size: 1.2rem;
  width: 30rem;
}
