:root {
    --background-color: #EBECF0;
    --search-btn:rgb(185, 185, 185);
    --search-btn-disabled:rgb(165, 158, 158);
    --search-btn-enabled:#61677C;
    --color: rgb(167, 167, 167);
    --color-win: rgb(255, 118, 5);
    --dropdown: rgb(129, 140, 153);
    --border-top: rgb(102, 102, 102);
    

}

.App {
display: grid;
grid-template-rows: 10rem minmax(min-content, 1fr); 
}

