.winContainer{
    display: flex;
    // width: 100vh;
    justify-content: center;
    // position: relative;
}

.winner {
    width: 0;
}
.btn-win {
    // display: flex;
    width: max-content;
    color: #AE1100;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 5px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s;

    &:hover {
        box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
        transform: scale(0.95);
        // transform: translate(-43.5rem, 55rem);

    }
}
.btn-hide{
    display: none;
}

